
html {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkJI1rKxUSV660uYB_TeaAUJe2YVBkOxldC5aJvcUu-fL-ixwU");
}
h1{
  color:teal;
}
body{
  color: teal;
  background-color: #009999;
  float:inherit;
  padding: 50px;
  margin: 70px;
  border: 5px solid #e6e6e6;

}

label{
  background-color:#e6e6e6;
  color: teal;
  font-weight: bold;
  display:block;
  margin-left  : -28px;
  padding-left : 28px;
  line-height  : 40px;
  font-size: 20px;
  width:400px;
}
#total{
  color: #e6e6e6;
  background-color: #009999;
  float:inherit;
  padding: 50px;
  margin: 70px;
  border: 5px solid #e6e6e6;
}
.fact{
  float:right;
  font-style: italic;
  background-color:yellow;
  color: teal;
  font-size: 30px;
  width:400px;
  font-family: "Aclonica", Times, serif;
}
P{
  font-size: 20px;
  font-weight: bold;
  font-style:bold;
  color:  #009999;
  font-family: cursive;
}
li{
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  color: #e6e6e6;
}
button {
    background-color:#e6e6e6;
    border:2px solid  #009999; /* Teal */ ;
    color: teal;
    padding: 15px 32px;
    float: right;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
  }
button:hover{
  background-color: #teal;
    }
h2{
  font-weight: bold;
}
